force-app/main/default/flows/MRay_Account_FS_Schedule_from_Work_Order_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign values for new Appointment Dependence records</description>
        <name>Assign_Appointment_Dependency</name>
        <label>Assign Appointment Dependency</label>
        <locationX>607</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>varAppointmentDependencyRec.FSL__Root_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMainServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentDependencyRec.FSL__Service_Appointment_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Serv_Appt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentDependencyRec.FSL__Service_Appointment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA_associated_with_WO_Line_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentDependencyRec.FSL__Same_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Dependencies.Same_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentDependencyRec.FSL__Dependency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Dependencies.Dependency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApptDependencyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAppointmentDependencyRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Dependencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appointment_to_Collection</name>
        <label>Assign Service Appointment to Collection</label>
        <locationX>1004</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>varServiceAppointmentColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var2ndSerAppt_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WO_LIne_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appt_Collection_Count</name>
        <label>Assign Service Appt Collection Count</label>
        <locationX>851</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>varSR_Appt_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varServiceAppointmentColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Serv_Appt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Item</name>
        <label>Assign Work Order Item</label>
        <locationX>374</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderItemRec.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderItemRec.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forServiceTerritory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderItemRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderItemRec.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WO_Template_Items.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderItemRec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WO_Template_Items.Work_Type__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderItemRec.MRay_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Picklist_S</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderLineColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varWorkOrderItemRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WO_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Main_Service_Appointment_Id</name>
        <label>Set the Main Service Appointment Id</label>
        <locationX>1110</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>varMainServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Appointment_to_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Id of the service territory to be used if none found/selected</description>
        <name>conDefaultServiceTerritory</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0Hhao0000000FFCCA2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Produce_Requested</name>
        <label>Produce Requested</label>
        <locationX>962</locationX>
        <locationY>1397</locationY>
        <defaultConnector>
            <targetReference>Appt_Scheduled_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Prod_Req</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Picklist_S</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the current Service Appointment has the same work type as the Work Order Template (main) work type.    This will be the record that is used for scheduling later.  NOTE:   The flow assumes there is only ONE value of the (main) Work Type associated with the Work Order Template.   If there is more than one record with the same value, will need to add more logic to capture only the first one.</description>
        <name>Service_Appt_Work_Type_Template_Work_Type</name>
        <label>Service Appt Work Type = Template Work Type</label>
        <locationX>1107</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>Assign_Service_Appointment_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServiceAppointment.WorkTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varWOTemplate_WorkType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Main_Service_Appointment_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V2-added case</description>
    <dynamicChoiceSets>
        <description>returns the most recent 10 case records</description>
        <name>Case_Choice</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Case</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drug</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTerritory_Choice_DELETE</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderTemplate_ChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MRay_Work_Order_Template__c</object>
        <outputAssignments>
            <assignToReference>varWOTemplate_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWOTemplate_WorkType</assignToReference>
            <field>Work_Type__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forAddTo_SRLoopCount</name>
        <dataType>Number</dataType>
        <expression>{!varSRLoopCount} +  1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Product to be Received By - based on the Main Appointment Start Date</description>
        <name>forProdReceivedByDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Main_Appointment.SchedStartTime})</expression>
    </formulas>
    <formulas>
        <description>checks to see if {!varSelectedServiceTerritoryId} is blank.    If it is, defaults to default territory</description>
        <name>forServiceTerritory</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varSelectedServiceTerritoryId}), 
{!conDefaultServiceTerritory}, {!varSelectedServiceTerritoryId})</expression>
    </formulas>
    <interviewLabel>MRay-Account FS Schedule from Work Order Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MRay-Account FS Schedule from Work Order Template</label>
    <loops>
        <name>Loop_Dependencies</name>
        <label>Loop Dependencies</label>
        <locationX>608</locationX>
        <locationY>922</locationY>
        <collectionReference>Get_Work_Order_Template_Dependencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_WO_Line_that_has_2nd_Work_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Serv_Appt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the Service Appointment records, look up dependencies from Work Order Template and assign for new Appointment Dependency records</description>
        <name>Loop_Serv_Appt</name>
        <label>Loop Serv Appt</label>
        <locationX>754</locationX>
        <locationY>828</locationY>
        <collectionReference>varServiceAppointmentColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Work_Order_Template_Dependencies</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Appointment_Dependencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop newly created Work Order Line Items to get the associated Service Appointment to use to create the Service Dependency later</description>
        <name>Loop_WO_LIne_Item</name>
        <label>Loop WO LIne Item</label>
        <locationX>970</locationX>
        <locationY>529</locationY>
        <collectionReference>Get_WO_Line_Items_Created</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Service_Appt_Collection_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_WO_Template_Items</name>
        <label>Loop WO Template Items</label>
        <locationX>545</locationX>
        <locationY>491</locationY>
        <collectionReference>Get_WO_Template_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Work_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Prod Request Line Item</label>
        <locationX>824</locationX>
        <locationY>1545</locationY>
        <connector>
            <targetReference>Appt_Scheduled_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NeedByDate</field>
            <value>
                <elementReference>Date_To_Receive_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Product_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Product_Picklist_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequested</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Appointment_Dependencies</name>
        <label>Create Appointment Dependencies</label>
        <locationX>972</locationX>
        <locationY>1021</locationY>
        <connector>
            <targetReference>Display_Appointments</targetReference>
        </connector>
        <inputReference>varApptDependencyCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Request</name>
        <label>Create Product Request</label>
        <locationX>824</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NeedByDate</field>
            <value>
                <elementReference>Date_To_Receive_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>Get_Service_Territory_Fields.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>varNewWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>888</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>varNewWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Serv_Appt_Auto_Gen_for_WO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Case_Picklist_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>forServiceTerritory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varWOTemplate_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>varWOTemplate_WorkType</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Items</name>
        <label>Create Work Order Line Items</label>
        <locationX>697</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Get_WO_Line_Items_Created</targetReference>
        </connector>
        <inputReference>varWorkOrderLineColl</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete the Service Appointment created by the Work Order -- All of the service appointments are driven by the work order line items and the dependencies</description>
        <name>Delete_Service_Appt_created_by_WO</name>
        <label>Delete Service Appt created by WO</label>
        <locationX>551</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Loop_WO_Template_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Serv_Appt_Auto_Gen_for_WO.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>543</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Work_Order_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Main Appointment Fields - start date used for Product Request</description>
        <name>Get_Main_Appointment</name>
        <label>Get Main Appointment</label>
        <locationX>1108</locationX>
        <locationY>1182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMainServiceAppointment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the service appointment associated with the work order line items that has dependency 2nd value</description>
        <name>Get_SA_associated_with_WO_Line_Item</name>
        <label>Get SA associated with WO Line Item</label>
        <locationX>466</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Appointment_Dependency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO_Line_that_has_2nd_Work_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Service Appointment automatically generated by the work order so it can be deleted</description>
        <name>Get_Serv_Appt_Auto_Gen_for_WO</name>
        <label>Get Serv Appt Auto Gen for WO</label>
        <locationX>757</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Service_Appt_created_by_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Service Territories that have Work Type = Primary Work Type for the Template</description>
        <name>Get_Service_Territories</name>
        <label>Get Service Territories</label>
        <locationX>795</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Service_Territories_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWOTemplate_WorkType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryWorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Service Territory Address for Product Request later</description>
        <name>Get_Service_Territory_Fields</name>
        <label>Get Service Territory Fields</label>
        <locationX>1066</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO_Template_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forServiceTerritory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets the id of the service appointment associated with the work order line item id --- this is the appointment used for secheduling</description>
        <name>Get_ServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>1110</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appt_Work_Type_Template_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_WO_LIne_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Service_Territory_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all of the Work Order Line Items Created to drive loop to get the associated Service Appointments</description>
        <name>Get_WO_Line_Items_Created</name>
        <label>Get WO Line Items Created</label>
        <locationX>824</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_WO_LIne_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Line_that_has_2nd_Work_Type</name>
        <label>Get WO Line that has 2nd Work Type</label>
        <locationX>472</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_associated_with_WO_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Dependencies.Second_WO_Work_Type_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Template_Items</name>
        <label>Get WO Template Items</label>
        <locationX>1067</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment_WOT_S</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MRay_Work_Order_Template_Items__c</object>
        <sortField>Seq__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the  Work Order Template Dependencies for the work type of the current service appointment record.</description>
        <name>Get_Work_Order_Template_Dependencies</name>
        <label>Get Work Order Template Dependencies</label>
        <locationX>755</locationX>
        <locationY>996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Dependencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment_WOT_S</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_WO_Work_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Serv_Appt.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Order_Template_Dependency__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_WO_Work_Type_Id__c</queriedFields>
        <queriedFields>Second_WO_Work_Type_Id__c</queriedFields>
        <queriedFields>Dependency__c</queriedFields>
        <queriedFields>Same_Resource__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1196</locationX>
        <locationY>1269</locationY>
        <connector>
            <targetReference>Product_Request_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewWorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_Main_Appointment.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Get_Main_Appointment.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Appt_Scheduled_Screen</name>
        <label>Appt Scheduled</label>
        <locationX>970</locationX>
        <locationY>1618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderCreatedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; font-family: verdana;&quot;&gt;All Done!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(61, 50, 180); font-size: 14px; font-family: verdana;&quot;&gt;Have a great day!!&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Appointments</name>
        <label>Display Appointment Slots</label>
        <locationX>978</locationX>
        <locationY>1181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Main_Appointment</targetReference>
        </connector>
        <fields>
            <name>GettingApptSlot_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sending information to scheduler.   Just one moment.....&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_FS_Appointment_Slots</name>
            <extensionName>c:SDO_Service_Flow_FSLSchedulingWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>candidates</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saID</name>
                <value>
                    <elementReference>varMainServiceAppointment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Service_Territories_Map</name>
        <label>Display Service Territories Map</label>
        <locationX>919</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service_Territory_Fields</targetReference>
        </connector>
        <fields>
            <name>SelectClinic_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The clinics listed are accredited for the treatment.   Select the clinic best for the patient.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displaymap</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritoryWorkType</typeValue>
            </dataTypeMappings>
            <extensionName>c:displayclinics</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sobjectRecList</name>
                <value>
                    <elementReference>Get_Service_Territories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displaycliniclist</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritoryWorkType</typeValue>
            </dataTypeMappings>
            <extensionName>c:displaytimeslots</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sobjectRecList</name>
                <value>
                    <elementReference>Get_Service_Territories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedServiceTerritoryId</assignToReference>
                <name>serviceTIdfromJs</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Request_Screen</name>
        <label>Product Request</label>
        <locationX>1109</locationX>
        <locationY>1395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Produce_Requested</targetReference>
        </connector>
        <fields>
            <name>NeedProdShipment_Text</name>
            <fieldText>&lt;p&gt;Do you need to need a drug request/shipment for this appointment.    &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If yes, select from the list below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Picklist_S</name>
            <choiceReferences>Product_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_To_Receive_S</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>forProdReceivedByDate</elementReference>
            </defaultValue>
            <fieldText>Date To Be Received</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Picklist_S</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ServiceTerritoryAddress_Text</name>
            <fieldText>&lt;p&gt;The product will be shipped to the clinic:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Picklist_S</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Service_Territory_Fields.Address</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Picklist_S</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Work_Order_Template</name>
        <label>Select Work Order Template</label>
        <locationX>666</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Service_Territories</targetReference>
        </connector>
        <fields>
            <name>SelectWOT_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select the type of Appointment to Schedule &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appointment_WOT_S</name>
            <choiceReferences>WorkOrderTemplate_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appointment Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssocCase_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Is this appointment associated with a Case?      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If yes select from below, otherwise leave blank/set to None&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Picklist_S</name>
            <choiceReferences>Case_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Case to Associate to the Appointment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>417</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Second Service Appointment Collection used for Dependency Flow</description>
        <name>var2ndSerAppt_Coll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varAppointmentDependencyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <description>collection used for Create Appointment Dependencies</description>
        <name>varApptDependencyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <description>ID of the service appointment with the work type that matches the (main) work type of the Work Order Template</description>
        <name>varMainServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of the newly created Service Appointments used later to to get dependencies</description>
        <name>varServiceAppointmentColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Count of the records in Service Appointment Collection --- used to drive the 2nd loop of Service Request within Dependency Loop</description>
        <name>varSR_Appt_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>index to force all values in Service Appt Collection are reviewed</description>
        <name>varSRLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWorkOrderItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <description>collection holding all of the new Work Order Lines created by the loop</description>
        <name>varWorkOrderLineColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varWorkOrderRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varWOTemplate_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWOTemplate_WorkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
